 body {
     margin: 0px;
     padding: 0px;
     background-image: url('ss.jpg');
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
     position: relative;
     font-family: 'roboto';
     box-sizing: border-box;


 }

 body::before {
     content: "";
     position: absolute;
     top: 0px;
     left: 0px;
     height: 100%;
     width: 100%;
     z-index: -1;
     background-color: rgba(0, 0, 0, 0.6);

 }

 .txt2,
 .txt4 {
     font-family: Georgia, 'Times New Roman', Times, serif;
 }

 /*---------------------------footer--------------------------------*/
 footer {
     color: white;
     background-color: #030607;

 }

 footer {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 footer h3 {
     text-align: center;
 }

 footer li img {
     height: 2rem;
     width: 2rem;
     margin-right: 1rem;
 }

 footer li {
     list-style: none;
 }

 footer a {
     text-decoration: none;
     color: springgreen;
 }

 footer ul {
     display: flex;
     flex-direction: row;
 }

 /*----------------------------------body-----------------------------------------------*/
 hr {
     width: 100%;
     height: 0.6vh;
     border-style: solid;
     border-color: #0cf1cb;
     border-width: 0px 0px 3px 0px;
     border-radius: 3px;


 }

 .container {
     height: 100%;
     width: 100%;


 }

 #navbar img {
     height: 3.8rem;
     padding: 0;
     margin: 5px
 }

 #navbar {
     position: relative;
     display: flex;
     align-items: center;
 }

 #navbar ul {
     display: flex;
     width: 83%;
     align-items: center;
 }

 #navbar ul li {
     list-style: none;
     position: relative;
     text-align: center;
 }

 #navbar ul li a {
     text-decoration: none;
     display: block;
     margin: 4px;
     padding: 6px;
     border-radius: 10px;
     width: 5rem;
     text-align: center;
     color: white;
     background-color: rgb(0, 0, 0);
     transition: all 1s ease-in-out;
     font-size: 1.2rem;

 }

 #navbar ul li a:hover {
     text-decoration: none;
     display: block;
     margin: 4px;
     padding: 6px;
     border-radius: 10px;
     width: 5rem;
     text-align: center;
     color: rgb(0, 0, 0);
     background-color: rgb(255, 255, 255);

     font-size: 1.2rem;

 }

 #navbar::before {
     content: "";
     background-color: black;
     position: absolute;
     height: 100%;
     width: 100%;
     z-index: -1;
     opacity: 0.5;
 }

 /*navbar nested*/

 .submenu {
     display: none;
     position: absolute;
     top: 100%;
     left: 0;
     background-color: rgb(0, 0, 0);
     border-radius: 10px;
     padding: 10px;
     z-index: 5;
 }

 

 #navbar li:hover .submenu {
     display: block;
 }

 .submenu ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .submenu ul li {
     margin: 5px 0;
 }

 .submenu a {
     color: white;
     text-decoration: none;
 }

 .submenu a:hover {
     text-decoration: underline;
 }

 /*nested over */
 .txt,
 .txt3 {
     text-align: justify;
     display: flex;
     flex-direction: column;
     padding: 3px 200px;
     /* justify-content: center;*/
     align-items: center;
     color: white;
 }


 .txt h1,
 .txt2 h1,
 .txt3 h1,
 .txt4 h1,
 .txt5 h1 {
     font-size: 2.5rem;
     overflow-x: auto;
     color: #52fcb5;
     text-shadow: 1px 1px 3px aqua;
 }

 /*
 #home button a {
     align-items: center;
     text-decoration: none;
     color: greenyellow;
     font-weight: 800;
     width:100px;
     height:20px;
 }*/

 .btn1 {
     text-align: center;
     font-size: large;
     height: 40px;
     width: 200px;

 }

 .btn1 a {
     text-align: center;
     margin: auto;
 }

 #home .txt a {
     text-decoration: none;
 }

 #home .txt button {
     display: flex;
     border-radius: 5px;
     background-color: rgb(77, 230, 251);
     align-items: center;
     color: rgb(231, 15, 137);
     font-weight: 800;
     cursor: pointer;
     justify-content: center;
     font-family: Arial, Helvetica, sans-serif;
     text-shadow: 1px 1px 3px #030607;
     box-shadow: 1px 1px 8px darkred;
 }

 li {
     margin-bottom: 5px;
 }

 /*#home .txt button {
     display: flex;
     align-items: center;
     border-radius: 5px;
    
     background-color: indigo;
     flex-direction: column;
 }*/

 .head {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 3rem;
     font-weight: 700;
     width: 100%;
     height: 4.6rem;
     box-sizing: border-box;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     letter-spacing: 5px;
     color: rgb(242, 246, 21);
     text-shadow: 1px 1px #030607, 2px 1px 3px #046a8d;
 }

 .heading1 {
     font-size: 30px;
     font-weight: 400;
     word-spacing: 3px;
     text-align: center;
     color: rgb(212, 240, 141);
     text-shadow: 1px 1px #030607, 2px 1px 3px #5cbee9;

 }

 /*--------------------------------selection page----------------------------------------*/
 #selection {
     height: 100vh;
     width: 100%;
 }

 .btn2 {
     text-align: center;
     font-size: large;
     height: 80px;
     width: 300px;

 }

 .btn2 a {
     text-align: center;
     margin: auto;
 }

 #home .txt3 a {
     text-decoration: none;
 }

 #home .txt3 button {
     display: flex;
     border-radius: 5px;
     background-color: indigo;
     align-items: center;
     color: greenyellow;
     font-weight: 800;
     cursor: pointer;
     justify-content: center;
     font-family: Arial, Helvetica, sans-serif;
 }

 /*------------------------------------------python page------------------------------------------*/
 .table-resp {
     overflow-x: auto;
     text-align: center;
 }

 .py span {
     color: #de66aa;
 }

 .txt2 {
     text-align: justify;
     display: flex;
     flex-direction: column;
     padding: 3px 200px;
     justify-content: center;
     color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;

 }

 .py span {
     font-weight: 600;
     text-decoration: underline;
 }

 .py li {
     padding: 5px;
     margin: 5px 0px 5px 0px;
 }

 h2 {
     color: darkseagreen;
 }

 table {
     color: black;
     border-collapse: collapse;
     width: 80%;
     margin: auto;
 }

 th,
 td {
     border: 1px solid black;
     padding: 10px;
 }

 th {
     background-color: lightblue;
 }

 tr:nth-child(even) {
     background-color: lightgray;
 }

 tr:nth-child(odd) {
     background-color: rgb(173, 139, 139);
 }

 .pylogo {
     display: flex;
     align-items: center;
 }

 .pylogo img {
     height: 50px;
     width: 50px;
     margin-right: 30px;
 }


 /*---------------------IOT-------------------------------------*/
 .txt4 {
     text-align: justify;
     display: flex;
     flex-direction: column;
     padding: 3px 200px;
     justify-content: center;
     color: white;
 }

 .iot-subhead {
     color: #de66aa;
     font-weight: 700;
 }

 .iot span {
     font-weight: 600;
     text-decoration: underline;
 }

 div.iot-comp img {
     width: 98%
 }

 dt {
     color: rgb(212, 240, 141);
 }

 div.iot-comp1 img {
     width: 100%;
     margin: 20px 0px 20px 0px;
     height: 50vh;
 }

 div.iot-comp {
     background-color: antiquewhite;
 }

 .iot li {
     padding: 5px;
 }

span.iot-part {
     font-size: 1.2rem;
     text-decoration: underline;
     font-weight: 400;
 }

 /*--------------------------About us-----------------------------------------------*/
 .txt6 {
     color: white;
     font-family: Arial, sans-serif;
 }

 .hd1 {
     font-size: 3.5rem;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;
     text-shadow: 1px 1px 9px crimson, -1px -1px 9px rgb(21, 128, 182);
 }

 .hd2 {
     font-size: 2.5rem;
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center;
 }

 .hd2-1:hover {
     text-decoration: underline;
     transition: 1s ease 0s;
     color: rgb(140, 255, 0);
     text-shadow: 1px 1px 7px rgb(247, 3, 3), -1px -1px 7px rgb(0, 225, 255);
 }

 .hd2-1 {
     color: aqua;
     text-shadow: 1px 1px 7px chartreuse, -1px -1px 7px red;
 }

 .para {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding: auto;
     margin: 1rem;
     text-align: justify;
     border: 0 solid aqua;
     padding: 5px;
     border-radius: 15px;
     text-align: center;
     /*box-shadow:1px 1px 8px blue;*/
 }

 .hd3 {
     font-size: 1.5rem;
     /* width: 16rem;*/
     padding: 1rem;
     text-align: center;
     /* margin-left: 1.5rem;*/
     border-bottom: 0px solid pink;
     color: rgb(21, 237, 150);
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-shadow: 2px 2px 9px rgb(250, 147, 4), -1px -1px 7px red;
     ;
 }

 body#about {
     margin: 0px;
     padding: 0px;
     background-image: url('s3.jpeg');
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     background-repeat: no-repeat;
     position: relative;
     font-family: 'roboto';
     box-sizing: border-box;


 }

 body#about::before {
     content: "";
     position: absolute;
     top: 0px;
     left: 0px;
     height: 100%;
     width: 100%;
     z-index: -1;
     background-color: rgba(0, 0, 0, 0.5);
 }

 /*--------------------------------Contact us------------------------------------*/
 div.contact-info {
     justify-content: center;
     border-radius: 10px;
     padding: 6px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     margin: 0 auto;
     color: #bbdfec;
     background-image: url('ss.jpg');
     border: 2px solid rgb(46, 2, 2);

 }

 div.contact-info a {
     color: tomato;
 }

 #homem {
     text-align: center;
     font-family: Arial, sans-serif;
 }

 iframe {
     /*border: 2px solid rgb(254, 5, 109)*/
     box-shadow: 3px 1px 5px rgb(57, 187, 65), -3px -3px 5px rgb(96, 221, 104);
 }

 #homem h1 {
     color: rgb(5, 252, 252);
     font-size: 3.5rem;
     text-decoration: underline;
     transition: all 1s ease 0s;
 }

 #homem h1:hover {
     color: rgb(252, 235, 5);
     text-shadow: 2px 2px 4px aqua;
 }

 .thank-you {
     margin-top: 20px;
     font-size: 1.5rem;
     color: #555;
 }

 /* body.contact {
    margin: 0px;
    padding: 0px;
   /* background-image: url('ss.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'roboto';
    box-sizing: border-box;


}

body.contact::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
}*/
 marquee {
     color: yellow
 }

 /*<------------------------------Media Query--------------------------------------*/

 @media (max-width: 768px) {

     .head {
         font-size: 2.3rem;
     }

     .txt,
     .txt3,
     .txt .heading1 {
         text-align: center;

     }

     .submenu {
         display: none;
         position: absolute;
         top: 100%;
         left: 0;
         background-color: rgb(0, 0, 0);
         border-radius: 10px;
         padding: 10px;
         z-index: 5;
     }

     #navbar li:hover .submenu {
         display: block;
     }

     /* #navbar ul li a {}*/

     .txt,
     .txt2,
     .txt3,
     .txt4 {
         padding: 20px;
         margin: 10px;
     }

  /*   #navbar ul,
     #navbar ul li,
     #navbar .submenu {
    }
         /*overflow-x: auto;*/

     /* #navbar li {}*/
 }

 @media (max-width: 480px) {
     .head {
         font-size: 1.8rem;
     }

     #navbar ul {
         padding-left: 20px;
     }

     #navbar ul li a {
         font-size: 0.89rem;
         padding: 3px;
         width: 4rem;
     }

     .submenu {
         display: none;
         position: absolute;
         top: 100%;
         left: 0;
         background-color: rgb(0, 0, 0);
         border-radius: 10px;
         padding: 10px;
         z-index: 1;
     }

     .txt,
     .txt2,
     .txt3,
     .txt4 {
         padding: 15px;
         margin: 5px;
         font-size: 1rem;
     }

     .txt,
     .txt3,
     .txt .heading1 {
         text-align: center;

     }




     .txt h1,
     .txt2 h1,
     .txt3 h1,
     .txt4 h1 {
         font-size: 1.5rem;
         text-align: center;
     }

     h2 {
         font-size: 1.2rem;
     }


     /*   #navbar ul li {}
 }*/
 }

 @media (max-width: 320px) {
     /** {
         overflow-x: auto;
     }*/
     div.iot-comp1 img {
        height: 10rem;}
     div.contact-info {

         padding: 6px;
         font-size: 0.56rem;
     }

     .heading1 {
         text-align: center;
     }

     .txt2,
     .txt4 {
         font-size: 0.8rem;
     }

     .txt,
     .txt3,
     .txt .heading1 {
         text-align: center;

     }

     .submenu {
         display: none;
         position: absolute;
         top: 100%;
         left: 0;
         background-color: rgb(0, 0, 0);
         border-radius: 10px;
         padding: 10px;
         z-index: 1;
     }

     .pylogo img {
         height: 40px;
         width: 125px;
         margin-right: 12px;
     }

     #navbar img {
         height: 30px;
         width: 30px;
     }

     .txt h1,
     .txt2 h1,
     .txt3 h1,
     .txt4 h1 {
         font-size: 1.3rem;
         text-align: center;
         color: #52fcb5;
     }

     h2 {
         font-size: 1rem;
     }

     #navbar ul {
         padding-left: 20px;
     }

     #navbar ul li a {
         font-size: 0.69rem;
         padding: 3px;
         width: 3rem;
     }

     #navbar li a,
     #navbar li {
         font-size: 0.69rem;
         display: block;
     }

     #navbar ul {
         padding-left: 0rem;
         margin: 0px 5px 0px 5px;
     }

     #navbar ul li a:hover {
         text-decoration: none;
         display: block;
         margin: 4px;
         padding: 3px;
         border-radius: 10px;
         width: 3rem;
         text-align: center;
         color: rgb(0, 0, 0);
         background-color: rgb(255, 255, 255);
         font-size: 0.69rem;
     }
 }